{% extends "shop/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Вхід на сайт" %}{% endblock  %}

{% block content %}
<div class="row">
  <div class="col-4">
    <h2>{% trans "Вхід на сайт" %}</h2>
    {% if form.errors %}
      <p>{% trans "Помилка входу на сайт. Спробуйте ще раз." %}</p>
    {% else %}
      <p>{% trans "Заповніть поля нижче для входу на сайт" %}</p>
    {% endif %}
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      <input type="submit" value={% trans "Вхід" %} class="btn btn-warning">
    </form>
    <p class="mt-2">
      <a href="{% url 'register' %}" class="text-decoration-none">{% trans "Реєстрація" %}</a> 
      <a href="{% url 'password_reset' %}" class="ms-2 text-decoration-none">{% trans "Забули пароль?" %}</a>
    </p>
  </div>
</div>
{% endblock content %}
