{% extends "shop/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Відновлення паролю" %}{% endblock  %}

{% block content %}
<div class="row">
  <div class="col-4">
    <h2>{% trans "Відновлення паролю" %}</h2>
    {% if validlink %}
      <p>{% trans "Заповніть поля нижче для зміни паролю." %}</p>
      <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="submit" value={% trans "Змінити" %} class="btn btn-warning">
      </form>
    {% else %}
      <p>
        {% url 'password_reset' as password_reset_url %}
        {% blocktrans %}
        Посилання на відновлення паролю недійсне. 
        Скористайтесь сторінкою <a href="{{ password_reset_url }}">відновлення паролю</a> 
        {% endblocktrans %}
      </p>
    {% endif %}
  </div>
</div>
{% endblock content %}
