{% extends "shop/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Відновлення паролю" %}{% endblock  %}

{% block content %}
<div class="row">
  <div class="col-4">
    <h2>{% trans "Відновлення паролю" %}</h2>
    {% if form.errors %}
      <p>{% trans "Помилка відновлення паролю. Спробуйте ще раз." %}</p>
    {% else %}
      <p>{% trans "Введіть адресу електронної пошти для відновленню паролю." %}</p>
    {% endif %}
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="submit" value={% trans "Отримати лист" %} class="btn btn-warning">
    </form>
  </div>
</div>
{% endblock content %}
