{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}{% trans "Відновлення пароля відправлено" %}{% endblock  %}

{% block content %}
  <h2>{% trans "Відновлення пароля відправлено" %}</h2>
  <p>
    {% blocktrans %}
    Ми відправили вам інструкції для встановлення пароля, якщо обліковий запис з введеною адресою існує. Ви маєте отримати їх найближчим часом. Якщо Ви не отримали електронного листа, переконайтеся, будь ласка, в зареєстрованій адресі і перевірте папку "Спам".
    {% endblocktrans %}
  </p>
{% endblock content %}
